
logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.ts
!*.d.ts
example/
!.autod.conf.js
!dependency/**/*.js
test/**/*.ts
app/**/*.mapq
test/**/*.map
config/**/*.map
yarn-error.log
tsconfig.json